services:
  backend:
    restart: unless-stopped
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: 3d-market-backend
    env_file:
      - ./backend/.env
    ports:
      - ${PORT}:${PORT}
    volumes:
      - ./backend/uploads:/app/uploads

  nginx:
    restart: unless-stopped
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: 3d-market-nginx
    env_file:
      - ./frontend/.env
    ports:
      - ${NGINX_PORT}:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
